:root {
    --primary-color: #ab927f;
    --background-color: #f5f0ea;
    --text-color: #2b2b2b;
    --secondary-color: #e7dfd9;
}

html, body {
    overflow-x: hidden;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    width: 100%;
  }
  .form-container label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-container input,
  .form-container textarea,
  .form-container button {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
  }
  .form-container button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  .form-container button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
}

header{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: var(--secondary-color);
    padding: 1rem;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: color 0.3s ease;
    font-weight: bold;
    margin-top: 30%;
    text-align: center;
}

.navbar a:hover{
    color: var(--primary-color);
}

main{
    margin-left: 20vw;
}

.info-container{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin: 1rem;
    width: 77vw;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 100%;
}

.info-text {
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.info-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.box, .Rbox{
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.box { 
    height: 30vh;
    text-align: center;
    align-items: center;
    font-size: 5rem;
}

.Rbox{
    display: flex;
    flex-direction: row;
    height: 15vh;
    font-size: 4rem;
    width: 73vw;
    margin: 10px;
    padding-left: 2rem;
}

.Rbox p{
    padding-left: 20px;
}

h2{
    text-align: center;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding: 5px;
    font-weight: 600 !important;
}

h2:hover{
    background-color: var(--secondary-color);
}

.box:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.info-image {
    flex: 1;
    height: 85vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39);
    margin: 10px;
}

.info-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100vw;
    height: 20px;
    background-color: rgba(149, 149, 149, 0.719);
    font-size: 10px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: bottom;
    height: 100%;
}

.footer-content p{
    font-size: small;
}

.resto{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


@media (max-width: 1200px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    
    header{
        width: 100vw;
        height: 10vh;
    }
    
    .navbar{
        flex-direction: row;
        text-align: center;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .navbar a{
        margin-top: 0%;
    }
    
    main{
        margin-left: 0vw;
        margin-top: 10vh;
    }
    
    .info-container{
        flex-direction: column;
        margin: 1rem;
        width: 95vw;
    }
    
    .box {
        height: 15vh;
        width: 42vw;
    }

    .info-image {
        width: 87vw;
        height: 20vh;
        margin-bottom: 30px;
    }
    .skills{
        font-size: 3rem;
    }
    
}


@media (max-width: 768px) {   
    header{
        width: 100vw;
        height: 10vh;
    }
    
    .navbar a{
        margin-top: 0%;
    }
    
    .info-container{
        flex-direction: column;
        margin: 1rem;
        width: 95vw;
    }

    .info-boxes{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .box {
        height: 15vh;
        width: 100%;
    }

    .info-image {
        width: 53vh;
        margin-bottom: 30px;
    }

    .Rbox{
        height: auto;
    }

    .skills{
        font-size: 2rem;
    }
}
